*{
    font-family: Arial;
}
body {
    background-color: #c8e3ff;
    height: 100vw;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}

/*FORMAT THE RAINBOW RAYS & POSITION RAINBOW*/
.rainbow{
    position: absolute;
    top: 80px;
    margin-left: 150px;
}
.red{
    width: 600px;
    height: 600px;
    border: 30px solid #ff9f97;
    border-bottom: 0;
    border-radius:50% 50% 0 0;
}

.yellow{
    margin-top: -600px;
    margin-left: 20px;
    width: 560px;
    height: 560px;
    border: 30px solid #faff97;
    border-bottom: 0;
    border-radius:50% 50% 0 0;
}
.green{
    margin-top: -560px;
    margin-left: 40px;
    width: 520px;
    height: 520px;
    border: 30px solid #8ef3a3;
    border-bottom: 0;
    border-radius:50% 50% 0 0;
}
.blue{
    margin-top: -520px;
    margin-left: 60px;
    width: 480px;
    height: 480px;
    border: 30px solid #8ac8ff;
    border-bottom: 0;
    border-radius:50% 50% 0 0;
}

/*FORMAT THE CLOUDBOX & POSITION CLOUDS*/
.cloudbox{
    position: absolute;
    width:665px;
    margin-left: 150px;
    margin-top: 150px;
    height: 70%;
    background-color:white;
    border-radius: 0 0 20px 20px;

}
#cloud1{
    position: absolute;
    margin-top: -180px;
    margin-left: -180px;
}
#cloud2{
    position: absolute;
    margin-top: -180px;
    margin-left: 280px;
}

/*CLOUD BOX TEXT SECTION */

.cloudbox section{
    margin-top: 120px;
    padding: 15px;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    
}

h2{
    letter-spacing: 4px;
    text-transform: uppercase;
}


/*FORMAT THE CRAYON LINKS*/
nav{
    position: absolute;

    margin-left: 150px;
    margin-top: 500px;

    z-index: 999;
    width: 70%;

}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family:Arial;
}

nav a:hover{
    text-decoration: underline;
}

/*FOOTER */

footer{
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-top: -300px;
    color: #5883ad;


}

ul{
    width: 600px;
    display: flex;
    justify-content: space-evenly;

}

li{
    list-style-type: none;
    width: 120px;
}
li a{
    position: absolute;
    margin-left: -74px;
    margin-top: 10px;
}

/*STYLE THE BLOG HEADER2S*/
#blogred{
    background-color:#ff9f97;
}
#blogyellow{
    background-color:#faff97;
}
#bloggreen{
    background-color:#8ef3a3;
}
#blogblue{
    background-color:#8ac8ff;
}